html,
body, 
#root,
#root > div, 
.app-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.prescreen {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 1;

  background: url(./prescreen.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  background-size: cover;
  
  transition: opacity 1.5s ease-in-out;
}

.prescreen.hidden {
  transition: opacity 1.5s ease-in-out;
  opacity: 0;
}

