html,
body, 
#root,
#root > div, 
.app-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.prescreen {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;

  opacity: 1;

  background: url(./prescreen.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  background-size: cover;


}

.prescreen.hidden {
  transition: opacity 3s ease-in-out;
  opacity: 0;
}

/* Hide the video control bar */
.video-react-control-bar, 
.video-react-has-started .video-react-control-bar {
  display: none !important;
}
