html,
body, 
#root,
#root > div, 
.app-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.prescreen,
.scene {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.prescreen {
  opacity: 1;
  background: url(./prescreen.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transition: opacity 2s ease-in-out;
}

.prescreen.hidden {
  transition: opacity 2s ease-in-out;
  opacity: 0;
}

.scene {

}

.scene.bg-1 {
  background: url(./bg-1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.scene.bg-2 {
  background: url(./bg-2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.scene.bg-3 {
  background: url(./bg-3.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.scene.bg-4 {
  background: url(./bg-4.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

